.column-labels {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

body {
  padding: 0px 30px 30px 20px;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  text-align: center;
  margin: 20px 0;
  /* margin-top: -45px; */
}

.shopping-cart h1 {
  margin: 50px 0;
}

.product-name {
  font-size: 1.3em;
  font-style: bold;
}

.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product-image {
  text-align: center;
}
.product-image img {
  width: 100px;
}

.quantity input {
  width: 40px;
}


.totals {
  font-size: 1.25rem;
  font-style: bold;
}

.totals a > button {
  display: block;

  margin-left: auto;
}

.result-total {
  display: none;
}
