.checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkout div {
  padding: 0px 30px 30px 20px;
  font-weight: 100;
}

.checkout h1 {
  color: #28a745;
}
.check-billing form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 9px;
}
.check-billing form label {
  padding: 4px;
}
.check-billing {
  grid-area: 'bill';
  border-right: 1px solid #eee;
}
.check-shipping {
  border-right: 1px solid #eee;
  grid-area: 'ship';
}
.check-order {
  grid-area: 'order';
  border-right: 1px solid #eee;
}
.check-payment {
  border-right: 1px solid #eee;
}
.checkout input {
  display: block;
}
