/* GLOBAL STYLES */

body {
  font-family: 'montserrat', sans-serif;
  color: black;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: teal;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flexWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
