/* GLOBAL STYLES */

body {
  font-family: 'montserrat', sans-serif;
  color: black;
  height: 100%;
  margin: 0 20px;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: teal;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flexWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* FOR SMALLER SCREENS */
@media (max-width: 1200px) {
  .flexWrap {
    flex-direction: column;
  }
}
