.product-main {
  display: flex;
  justify-content: space-between;
  flex: 4;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin: 20px 10px;
}

.product-item {
  flex: 1;
<<<<<<< HEAD
  max-width: 250px;
  margin-bottom: 20px;
 
}

.product-description{
  padding: 5px 0;
=======
>>>>>>> master
}
