.product-main {
  display: flex;
  justify-content: space-evenly;
  flex: 4;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
}

.product-item {
  flex: 1;
  max-width: 250px;
  margin-bottom: 20px;
  border: 0 !important;
  text-align: center;
}

.product-description {
  padding: 5px 0;
}

.button-container {
  display: flex;
}

.btn {
  flex: 1;
  margin: 5px;
}
