.singleproduct-parent {
  display: flex;
  margin: 100px 100px;
  flex-wrap: wrap;
}

.singleproduct-left {
  flex: 1;
}

.singleproduct-price {
  color: red;
}

img {
  max-width: 500px;
}
.singleproduct-right {
  flex: 1;
}

.singleproduct-rating {
  display: inline;
  font-size: 1.5rem;
  padding-left: 10px;
}

.singleproduct-numReviews {
  padding-left: 10px;
  font-size: 1rem;
}

.singleproduct-reviewTitle {
  text-align: center;
}

.singleproduct-reviews {
  margin: 100px;
}

.singleproduct-review {
  margin: 50px 0;
}

.review-img {
  width: 60px;
  border-radius: 50%;

  padding-right: 10px;
}

.singleproduct-categories {
  margin: 20px 0;
}

.singleproduct-singleCategory {
  color: #999;
}

.singleproduct-addToCart {
  margin-bottom: 10px;
}
/* For smaller screens */

@media (max-width: 1200px) {
  .singleproduct-parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .singleproduct-left {
    text-align: center;
  }
}

